
<div class="conteiner-big-card">

    <!-- Big card -->
    <div class="big-card-photo">
        <img 
            src="https://pbs.twimg.com/media/F8GeFUuWEAAGZIo?format=jpg&name=4096x4096" 
            alt=""
            height="200px"
            srcset="">
    </div>

    <div class="big-card-title">
        <h1><a href="#">Saiu a novas skins Kawaii Café</a></h1>
    </div>

    <div class="big-card-description">
        <p>
            <a href="#">
            Lorem ipsum dolor sit amet. Qui velit quisquam aut suscipit reiciendis qui magni dolores et asperiores nulla et cupiditate vitae! Non blanditiis Quis aut voluptas enim ea nulla facilis.
            </a>
        </p>
    </div>
</div>
