.conteiner-menu-title {
    color: white;

}

.conteiner-menu-title > h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 135px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    display: flex;
    justify-content: center;
}

.conteiner-menu-title > hr {
    margin-top: 20px;
    margin-bottom: 5px;
}
