.container-small-card {
    width: 700px;
    margin-bottom: 15px;
}

.container-small-card-contents {
    display: flex;
    flex-direction: row;
}

.small-card-photo > img{
    width: 200px;
    min-width: 200px;
    margin-right: 20px;
}

.small-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-small-card-separator {
    margin-top: 10px;
}

.container-small-card-separator > hr {
    border-color: rgb(77, 77, 77);
}

