<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container-articles">
    <div class="articles-main">

        <!-- Conteúdo do Big Card -->
        <app-big-card 
        photoCover = "https://pbs.twimg.com/media/F8GeFUuWEAAGZIo?format=jpg&name=4096x4096"
        cardTitle = "Saiu a novas skins Kawaii Café"
        cardDescription = "Lorem ipsum dolor sit amet. Qui velit quisquam aut suscipit reiciendis qui magni dolores et asperiores nulla et cupiditate vitae! Non blanditiis Quis aut voluptas enim ea nulla facilis."
        ></app-big-card>

    </div>

    <div class="articles-others">
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
    </div>
</div>

